.mee{
	background-color: ;
	height: 200px;
	width:100%;
}
.header{
	
	background-color: ;
	text-align:center;
	
}
.heed{
	
	background-color: ;
	text-align:center;
	
}


.photos{
	
	
	width: 100%;
	height:600px;
	background-color: ;}

.me{ 
 color: pink;
text-align:center;
font-size: 30px;
}	
.rightlinks{
	display:inline-;
	margin-left: 90%;
}

.write{
	background-color: ;
	width: 100%;
	height:400px;
}
.hate{
	text-align: center;
	color: blue;
}
.writess{
	text-decoration: none;
	text-align: ;
	font-size: 22px;
}




	












	



