a{
	text-decoration: none;
}
.header{
	height:50px;
	width:100%;
}

.headerbody{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.logo{
	width:80px;
	height:50%;
	display:inline-block;
}

.links{
	display:inline-block;
}

.linker{
	text-decoration:none;
	margin-left:20px;
	text-transform:uppercase;
	color:black;
	font-family: sans-serif;
	font-size:15px;
}

.rightlinks{
	display:inline-block;
	margin-left: 30%;
}

.rightlinker{
	margin: 0 10px 0 10px;
}

.fa{
	-webkit-text-stroke: 1px white;
}

.carousel{
	width:100%;
	margin-bottom:20px;
}

.carousel-cell.a{
  width: 100%;
  margin-right: 10px;
}
.contain{
	position: absolute;
	left: 32%;
	top: 80px;
	text-align: center;
}
.oberlo{
	color:#2879fe;
	font-size: 50px;
}
.find{
	font-size:70px;
	color: white
}
.shop{
	color: white
}
.now{
	background-color: #2879fe;
	width: 100px;
	padding:20px;
	margin-top: 50px;
	border-radius:10px;
	margin-left: 170px; 


}
.mail{
	text-decoration: none;
	text-transform: uppercase;
	color: white
}
`.pictures {
	width: 100%;
	height: 600px;
	padding-top:50px;
}
.left{
	width: 50%;
	height: 100%;
	float: left;
	

}
.right{
	width: 50%;
	height: 100%;
	float: right;
	
}

.firstleft{
	width: 50%;
	height: 100%;
	float: left;

}

.secondleft{
	width: 50%;
	height: 100%;
	float: right;
	
}


.topfirstleft, .bottomfirstleft{
	width: 100%;
	height:50%;

}

.topright,.bottomright{
	width: 100%;
	height: 50%;
	
}
.lefttopright{
	width: 50%;
	height: 100%;
	float: left;
}

.righttopright{
	width: 50%;
	height: 100%;
	float: right;
}

.bottomright{
	width: 100%;
	height: 50%;
}

.sales {
	position: absolute;
	margin-top: -152px;
	margin-left: 10%;
	padding:20px;
	background-color: white;
	border-radius: 10px;

}
.woman{
	position: absolute;
	margin-top: -300px;
	margin-left: 9%;
	padding:20px;
	background-color: white;
	border-radius: 10px;
}
.shoe{
	position: absolute;
	margin-top: -180px;
	margin-left: 290px;
	padding:20px;
	background-color: white;
	border-radius: 10px;
}
.shoe:hover,.woman:hover,.sales:hover{
	background-color: #2879fe;
}

.middlelink{
	color:black;
}

.middlelink:hover{
	color:white !important;

}

.word{
	left: 32%;
	top: 80px;
	text-align: center;	
}
.trend{
	color: black;
	font-size: 40px;

}
.view{
	letter-spacing: 2px;
}
.photo{
	
	font-size: 50px;
	width: 100%;
	height: 400px;
	padding-top:50px;
}
.photoright{
	height: 100%;
	width: 23%;
	margin: 11px;
	float: left
}
.out{
	margin-top:-400px;
	position: absolute;
	font-size: 18px;
	width: auto;
	height: 50px;
}

div.out:nth-child(1){
	background: #03a9f5;
}

div.out:nth-child(2){
	background: #fdbc20;
}

div.out:nth-child(3){
	background: black;
}

div.out:nth-child(4){
	background: #f8353e;
}



